body {
    background-color: #5cdb95;
    margin: 0;
}

.title {
    padding: 20px;
    font-size: 3em;
    text-align: center;
}

#newBook {
    /*margin-bottom: px;*/
    width: 100px;
}

.table {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

ul {
    background-color: CadetBlue;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}
ul:nth-child(odd) {
    background-color: DarkSlateBlue;
    color: white;
}

.header li {
    background-color: LightCoral;
    color: black;
    height: 120%;
}

li {
    background-color: inherit;
    border-top: inherit;
    float: left;
    /*margin: 20px;*/
    height: 40px;
    padding: 1%;
    padding-top: 5px;
    width: 15%;
}

input {
    border: none;
    border-radius: 10px;
    box-shadow: none;
    display: inline;

    padding: 0 5%;
    width: 80%;
}

input:focus,
.deleteButton:focus,
#submitBook:focus {
    outline: none;
}

.deleteButton,
#submitBook {
    border: none;
    border-radius: 10px;
    padding: 0;
    width: 50%;
}

.deleteButton {
    width: 60px;
    float: right;
    margin-right: 10%;
}
.warning {
    color: red;
}
.hidden {
    display: none;
}

.bookProp1,
.bookProp2 {
    width: 22%;
}

.userDef {
    background-color: LightCoral;
    border-top: red 3px solid;
}
